.app_dark_theme {
  --bg-color: #10105f;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #119e11;
  --secondary-color: #04ff04;
  --inverted-primary-color: #0449e0;
  --inverted-secondary-color: #04268a;
}
